$headerBGColor: #282c34;
$bgColor: #181d29;
$textColor: #444444;
$textHoverColor: #000000;
$greenEmphasis: #0e6d46;
$redEmphasis: #631111;
$navBGColor: #343f57;
$navTextDark: #b9b9b9e8;
$navTextLight: #e2e2e2a8;
$navTextHover: #ffffff;