$headerBGColor: #1d2330;
$bgColor: #223547e3;
$textDark: #363636;
$textMedium: #9e9e9e;
$textLight: #b9b9b9;
$navText: #d1d1d1;
$textHoverColor: #000000;
$greenEmphasis: #2aa170;
$redEmphasis: #911d1d;
$navBGColor: #161c2b;
$navTextHover: #ffffff;