$headerBGColor: #1d2330;
$bgColor: #223547;
$textDark: #363636;
$textMedium: #868686;
$textLight: #8d8d8d;
$navText: #b9b9b9;
$textHoverColor: #000000;
$greenEmphasis: #2aa170;
$redEmphasis: #911d1d;
$navBGColor: #343f57;
$navTextHover: #ffffffec;