@import "./variables";
@import "./mixins";

.app {
  @include background("../images/background.jpg");
  .header {
    min-height: 15vh;
    @include flexCenter();
    font-size: 34px;
    font-weight: bold;
    a {
      text-decoration: none;
      padding: 0;
      color: $navText;
      &:hover {
        color: $navTextHover;
      }
    }
  }
}

h1 {
  color: $navText;
}

h2 {
  color: $textMedium;
}

h3 {
  color: $textLight;
}

p {
  color: $textLight;
}

.navigation-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: $navBGColor;
  margin: 0px;
  padding: 10px;
  text-align: center;
  a {
    display: block;
    color: $navText;
    padding: 0;
    flex-grow: 1;
    &:hover {
      color: $navTextHover;
    }
  }
}

.chronicle-entry {
  padding: 15px 0px 15px 0px;
  .date {
    color: $navText;
    font-weight: bold;
  }
  .activity {
    color: $greenEmphasis;
    display: inline;
  }
  .description {
    color: $textLight;  
  }
}

.content {
  width: 70vw;
  margin: 0vh 0vw 0vh 0vw;
  padding: 0vh 15vw 0vh 15vw;
  min-height: 80vh;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.articles-bar {
  list-style: none;
  padding: 0;
}

ul a {
  text-decoration: none;
}

li.article-link {
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 5px 0px;
  color: $textDark;
  background-color: $navText;
  &:hover {
    color: $textHoverColor;
    background-color: $navTextHover;
  }
  .preview {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .picture {
      height: 30vh;
      width: 30vh;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .title {
        font-size: 26px;
        padding: 2vh 2vw 2vh 2vw;
        flex-grow: 2;
      }
      .text {
        flex-grow: 3;
        padding: 2vh 2vw 2vh 2vw;
      }
    }
  }
}

.set-of-photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  .picture {
    width: 24%;
    margin: 1px;
    &:hover {
      transform: scale(1.8);
      overflow: hidden;
      transition: transform 0.7s;
    }
  }
}

@media screen and (max-width: 800px) {
  .content {
    width: 90vw;
    padding: 0vw 5vw 0vw 5vw;
  }

  .navigation-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    font-size: 18px;
    text-decoration: none;
    background-color: $navBGColor;
    margin: 0px;
    padding: 8px;
    text-align: center;
    a {
      display: block;
      color: $navText;
      padding: 1vh 0 1vh 0;
      flex-grow: 1;
      &:hover {
        color: $navTextHover;
      }
    }
  }

  li.article-link {
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0px;
    color: $textDark;
    &:hover {
      color: $textHoverColor;
      background-color: $navTextHover;
    }
    .preview {
      @include flexCenter();
      flex-direction: column;
      .title {
        font-size: 26px;
        padding: 2vh 2vw 2vh 2vw;
      }
      .picture {
        height: 50vh;
        width: 50vh;
      }
      .description {
        padding: 2vh 2vw 2vh 2vw;
      }
    }
  }

  .set-of-photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    .picture {
      width: 49%;
      margin: 1px;
      &:hover {
        transform: scale(1.2);
        overflow: hidden;
        transition: transform 0.3s;
      }
    }
  }
}
